.footer_part {
  padding: 100px 100px;
  height: 100%;
  padding-top: 30px;
  color: white;
  background-color: black;
}

.logo {
  padding: 0px 40px;
  float: left;
  width: 30%;
}

li {
  padding-right: 50px;
}

.contents {
  padding-left: 300px;
  float: left;
  width: 70%;
}

.contents a {
  color: white;
  text-decoration: none;
  transition-duration: 0.3s;
}

.contents a:hover {
  color: #1db954;
  text-decoration: none;
}
